# Compiled
*.elc

# Packaging
.cask

# Temporary
*~

# shared packages
mycustom.el
rollback
# cache directories
machines/linux/cache/
machines/windows/cache/
# binaries for windows
machines/windows/bin/